header {
    background: $color--main;
    position: fixed;
    width: 100%;
    height: 70px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 2em;
    z-index: 20;

    h1 {
        color: rgba(255,255,255,.7);
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 1.25rem;
        width: 40%;
    }
}

nav {
    width: 60%;

    ul {
        text-align: right;
    }
    li {
        display: inline-block;
    }

    a {
        color: rgba(255,255,255,.7);
        padding: .5rem 1rem;
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;

        &:hover {
            color: rgb(255,255,255);
            text-decoration: none;
        }
    }
}

.about {
    background: #49423f url(../img/hero-img-md.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 50vh;
    width: 100%;
    padding-top: 70px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    @media (min-width: 1024px) {
        background: #49423f url(../img/hero-img-md.jpg) no-repeat;
        background-position: right bottom;
        background-size: cover;
        height: 100vh;
    }

    @media (min-width: 1500px) {
        background: #49423f url(../img/hero-img.jpg) no-repeat;
        background-position: center bottom;
        background-size: cover;
    }

    h2 {
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
    }

    p {
        color: #fff;
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 1.2rem;
    }
}

.portfolio {
    padding: 3em 0;
    text-align: center;

    h2 {
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $color--red;
        margin-bottom: 1em;
    }

    .list-portfolio {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        li {
            flex-basis: 49%;
            height: 200px;
            position: relative;
            overflow: hidden;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0 0 10px #bdbdbd;

            @media (min-width: 768px) {
                margin-top: 20px;
            }

            .portfolio-details {
                position: absolute;
                width: 100%;
                height: 30px;
                background: rgba(240,95,64,.9);
                align-items: center;
                justify-content: center;
                color: #fff;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                bottom: -30px;
            }

            /* Safari 4.0 - 8.0 */
            @-webkit-keyframes example {
                from {bottom: -30px;}
                to {bottom: 0;}
            }

            /* Standard syntax */
            @keyframes example {
                from {bottom: -30px;}
                to {bottom: 0;}
            }

            &:hover {
                .portfolio-details {
                    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
                   -webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
                   animation-name: example;
                   animation-duration: 0.4s;
                   bottom: 0;
                }
            }

            h3 {
                color: $color--red;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 25px;
            }

            .download {
                margin-top: 20px;

                img {
                    width: 120px;
                }

                a {
                    padding: 0 2%;
                }
            }
        }

        p {
            font-size: 1.2rem;
        }
    }
}

.contact {
    padding: 3em 0;
    text-align: center;

    h2 {
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $color--red;
    }

    .contact-wrapper {
        padding-top: 30px;
    }

    p {
        margin-bottom: 10px;
    }

    a {
        color: #333;

        &:hover {
            color: $color--red;
            text-decoration: none;
        }
    }

    .fas,
    .fab {
        color: $color--red;
        font-size: 2rem;
    }
}

.footer{
    background: $color--main;
    padding: 20px 0;
    color: #999;
    font-size: 12px;
    text-align: center;

    span {
        color: #fff;
    }
}
